<!-- {% extends 'layout.html' %}
{% block content %}
	  <!-- PAGE HEADER -->
	  <header id="page-header">
		<div class="container">
		  <div class="row">
			<div class="col-md-8 m-auto text-center text-light">
			  <h1 class="mb-5">About Us</h1>
			  <p class="h4">CourseCo is a social cataloging website that allows individuals to freely search its database of online courses and tutorials. Users can sign up and register courses to generate library catalogs and learning lists. They can also create their own lists of course/tutorial suggestions</p>
			</div>
		  </div>
		</div>
	  </header>
{% endblock %}
