
{% extends 'layout.html' %}

{% block content %}



  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTACT SECTION -->
  <section id="contact" class="py-3 my-4 text-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h4>Address</h4>
              <p>550 Main st, Boston MA</p>
              <h4>Email</h4>
              <p>courseco@org.com</p>
              <h4>Phone</h4>
              <p>(555) 555-5555</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
