<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Details of course</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
     <div class="container">
      <a href="#home" class="navbar-brand">
        <img src="img/pirates.png" width="50" height="50" alt="">
        <h3 class="d-inline  align-middle">CoCourses</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="home.html" class="nav-link lead"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a href="profile.html" class="nav-link lead"><strong>Profile</strong></a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link lead"><strong>contact us</strong> </a>
          </li>
           <li class="nav-item">
            <a href="firstHome.html" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="home.html" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i>
            Back To Home
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="btn btn-success btn-block">
             Rate course
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-block">
              Add to list
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Rate card -->
  <section class="py-4 ">
    <div class="container text-dark">
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-header">
              <h4>Course Name</h4>
            </div>


            <div class="card-body">
              <p class="lead text-center">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, tempore iusto in minima facere dolorem!
              </p>
            </div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="text-center">
<span id="rateMe" class=" star-rate">
  <i class="fas fa-star py-2 px-1 rate-popover " data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
</span>

</div>



    <div class="card-body">
    <div class="detailBox text-dark">
    <div class="titleBox">
      <label><strong>Reviews</strong></label>
    </div>

    <div class="commentBox">
        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                  <img src="http://placekitten.com/45/45" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>

        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
  </section>

    <!-- FOOTER -->
  <footer id="main-footer" class="bg-primary" >
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3>CoCourses</h3>
          <p>2019
            <span id="year"></span>
          </p>

        </div>
      </div>
    </div>
  </footer>

</body>
</html>
